<!DOCTYPE html>
<html>
  <head>
    <title>Mini Pastebin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a> /
    <a href="/app/stats">Stats</a> /
    <a href="/?isAdmin=true">Admin View</a>

    <section><%- body %></section>

  </body>
</html>
